<!DOCTYPE html>
<html>
<body>
<head>
	<title>Lista de Usuarios </title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link href="../js/bootstrap.min.js" rel="text/javascript">
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/functions.js"></script>
	<script src="../js/axios.min.js"></script>
	<script src="../js/controller.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>
	<div class="principal_title">
		<p> PRUEBA TÉCNICA SOFTTEK</p>
		<p> ANDREA MONTOYA CÁRDENAS</p>
	</div>

	<br><br><br><br>
	<div id="panel_users">
		<div class='row_title' align='center'>
			<div class='col-xs-12'>
				<div class='col-xs-2'></div>
				<div class='col-xs-2'>Name</div>
				<div class='col-xs-2'>Username</div>
				<div class='col-xs-4'>Email</div>
			</div>
		<div class="users">
		</div>
	</div>
</body>
</html>
